<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

    <title>YUSA Traders Inc.</title>
</head>

<body>

    <!-- Showcase & Nav -->
    <div id="showcase">
        <header>
            <nav class='cf'>
                <ul class='cf'>
                    <li class="hide-on-small">
                        <a href="#showcase">Home</a>
                    </li>
                    <li>
                        <a href='#services'>Services</a>
                    </li>
                    <li>
                        <a href='#aboutus'>About Us</a>
                    </li>
                    <li>
                        <a href='#contact'>Contact</a>
                    </li>
                </ul>
                <div id="logo">
                    <img src="/static/images/logos/low-res.png" alt="">
                </div>
                <a href='#' id='openup'>YUSA Traders Inc.</a>
            </nav>
        </header>

        <div class="section-main container">
            <div class="transbox">
                <h1>YUSA Traders Inc.</h1>
                <img src="/static/images/logos/high-res.jpg" alt="">
                <h2>YUSA Traders, expertise and honesty is our signature.</h2>
            </div>
            
            <div id="slideshow">
                <div>
                    <img src="../static/images/photos/chickens.jpg">
                </div>
                <div>
                    <img src="../static/images/photos/cows.jpg">
                </div>
                <div>
                    <img src="../static/images/photos/pigs.jpg">
                </div>
                <div>
                    <img src="../static/images/photos/turkeys.jpg">
                </div>
            </div>
            <script src="/static/images.js"></script>
        </div>
    </div>

    <!-- Services Section -->

    <section id="services" class="section">
        <div class="container">
            <h2 class="section-head">
                Services
            </h2>

            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, sed beatae alias odit maxime sequi,
                non voluptate sint labore necessitatibus veritatis recusandae nam nisi fugiat perspiciatis
                perferendis blanditiis similique? Ea!
            </p>

            <section id="boxes">
                <div class="box">
                    <img src="../static/images/photos/chicken_icon.png" alt="">
                </div>

                <div class="box">
                    <img src="../static/images/photos/cow_icon2.png" alt="">
                </div>

                <div class="box">
                    <img src="../static/images/photos/pig_icon.png" alt="">
                </div>

                <div class="box">
                    <img src="../static/images/photos/turkey_icon.png" alt="">
                </div>
            </section>
        </div>
    </section>

    <!-- About Us Section -->

    <section id="aboutus" class="section bg-light">
        <div class="container">
            <h2 class="section-head">About Us</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, vel dignissimos.
                Expedita earum ipsam quod! Consequuntur soluta quisquam provident omnis? Praesentium
                inventore ipsam totam asperiores obcaecati quos. Suscipit, dolorem. Architecto omnis
                cumque excepturi ullam reprehenderit optio. At pariatur exercitationem fugiat nulla
                accusamus voluptas sunt natus recusandae illum blanditiis? Aliquid nulla sit nostrum,
                magnam laborum doloribus quas corrupti maiores ipsa iure quod consectetur ea voluptatum
                illo iusto facilis molestiae officiis esse accusamus et assumenda nihil excepturi nam fugiat?
                Porro quaerat consequatur quae ullam facere repellendus omnis sed molestiae enim eum quas, aut
                rerum minima soluta iure ipsam pariatur culpa nisi neque.
            </p>
            <img src="static/images/photos/US-Mexico-Canada-Agreement.jpg" alt="">
        </div>
    </section>

    <!-- Contact Form Section -->

    <section id="contact" class="section">
        <div class="container">
            <div class="dark">
                <h3>Contact Us</h3>
                <h2>Our team is ready to provide you with the top of the line customer service and logistics. </h2>
                <form class="my-form">
                    <div class="form-group">
                        <label>Name: </label>
                        <input type="text" name="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label>Email: </label>
                        <input type="text" name="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label>Message: </label>
                        <textarea name="message" placeholder="Message"></textarea>
                    </div>
                    <input class="button" type="submit" value="Submit" name="">
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-bottom text-center">
            Copyright &copy; 2019 YUSA Traders Inc.
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>

    <script src="static/main.js"></script>

</body>

</html>